* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 4px;
}


.cont1 {
    float: left;
    width: 79%;
}

aside {
    float: right;
    width: 21%;
}

.Navigation {
    float: right;    
}

.logo {
    float: left;
}

.cont-slider {
    border: solid black;
    margin-bottom: 10px;
    height: 160px;
    text-align: center;
}

.cont3 > div {
    float: left;
    width: 24%;
}

.infoBox {
    border: solid black;
    height: 180px;
    display: inline-block;
    margin-bottom: 15px;
    text-align: center;
    width: 24%;
    margin-right: 1%;
}
.infoBox2{
    border: solid black;
    height: 180px;
    display: inline-block;
    margin-right: 0.5%;
    margin-top: 10px;
    width: 49%;
    text-align: center;
}

.infoBox6 {
    border: solid black;
    height: 384px;
    width: 20%;
    float: right;
    text-align: center;
    margin-top: 1px;
}

.cf::before,
.cf::after {
    content: " ";
    display: table;
}

.cf::after {
    clear: both;
}

.cont-slider{
    width: 100%;
}

.footer{
    border: solid black;
    margin-top: 10px;
    text-align: center;
    height: 180px;
}

img {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .cont1,
    .infoBox2,
    .cont3 > div {
        float: none;
        width: 100%;
        display: block;
    }

    .infoBox6 {
        width: 100%;
        float: none;
        background-color: brown;
    }

    .infoBox {
        display: block;
        width: 100%;
        float: none;
        background-color: brown;
    }

    .infoBox2,
    .cont-slider,
    footer {
        background-color: dimgrey;
    }

    header {
        padding-bottom: 20px;
        position: relative;
    }
    nav a {
        
        height: 100px;                        
        width:  600px;
        padding-bottom: 20px;
        display: none;
    }

    img {
        display: block;
        position: absolute;
        right: 47%;
    }
    
}